table{
    width: 400px;
    height: 1000px;
    border-radius: 10px;
    border: 2px solid black;
    border-color: deepskyblue;
    margin-left: 290px;
} 
#a{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('download (6).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #b{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('download (7).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #c{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('download (8).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #d{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('download (9).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #e{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('download (10).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #f{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('images (13).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #g{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('download (12).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #h{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('download (13).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #i{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('images (14).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                    margin-left: 50px;
                }
                #j{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('download (15).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #k{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('images (7).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #l{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('images (8).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #m{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('images (9).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #n{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('images (10).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }
                #o{
                    border: 2px solid;
                    border-radius: 10px;
                    width: 130px;
                    height: 160px;
                    background-image: url('images (11).jpg');
                    background-repeat: no-repeat;
                    padding: 30px;
                }